<style>
 
</style>
<ion-header>
  <ion-toolbar>
    <ion-title>notification</ion-title>
    
  </ion-toolbar>
  <h4 style="text-align: center; border-bottom: solid 1px lightgrey;margin: 10px;padding: 20px">Signalement terminé</h4>
</ion-header>

<ion-content>
  <!-- List of Text Items -->
  
  <ion-list>
    <ion-item>
      <ion-label>Accident</ion-label>
      <p>22 Dec 2021</p>
    </ion-item>
    <ion-item>
      <ion-label>Accident</ion-label>
      <p>22 Dec 2021</p>
    </ion-item>
    <ion-item>
      <ion-label>Accident</ion-label>
      <p>22 Dec 2021</p>
    </ion-item>
    <ion-item>
      <ion-label>Accident</ion-label>
      <p>22 Dec 2021</p>
    </ion-item>
    <ion-item>
      <ion-label>Accident</ion-label>
      <p>22 Dec 2021</p>
    </ion-item>
  </ion-list>

</ion-content>
