<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/carte.css">
		<meta charset="utf-8">
		<style type="text/css"> #map { height: 50vh; } </style>
		<script src="js/angular.min.js"></script>
		<script src="js/ol.min.js"></script>
		<script src="js/accueilApp.js"></script>
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
 		<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
		<style> #map { height: 100px; } </style>
	</head>
	<body ng-app="myApp" ng-controller="main" >
		<div class="header"style="height:100px; background-color:black" ></div>
			<div class="container">
				<div class="left">
					<div class="header">
						<h2 class="animation a1">Recherche</h2>
						<h4 class="animation a2">Filtrer votre recherche selon ces critères</h4>
					</div>
					<div class="form" style="padding: 10px;">
					<label>Type</label>
						<select class="form-field animation a3" ng-model="type" ng-options="x for x in typenames"> </select>
					<br>
					 Date min : <input type="date" ng-model="datemin" class="form-field animation a3"> 
					 <br>
					 Date max : <input type="date" ng-model="datemax" class="form-field animation a3"> 
					<br>
					<label>Status</label>
					<select class="form-field animation a3" ng-model="status" >
						<option value="en cours">En cours</option>
						<option value="termine">Terminé</option>
					</select>
					<br>
						<button class="animation a6" ng-click="go()" >Rechercher</button>
					</div>
				</div>
				<div class="result" style="height: 100%; width:50%; text-align: center; border:black solid;">
					<div class="header">
						<h4 class="animation a1">Resultat</h4>
					</div>
					<div ng-repeat = "g in gogol" >
						<h4 style="background-color: {{g.couleur}};" >{{g.nomtype}} || {{g.dateHeure}} </h4>
						<a href="fiche.html?id={{g.id}}" >Detail</a>
					</div>
				</div>
				<div id="right">
					<div id="map" style="height: 100%; width:100%"></div>
				</div>
			</div>

	</body>
</html>