<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	  <link rel="stylesheet" type="text/css" href="affectation.css">
    <script src="angular.min.js"></script>

    <script src="app.js"></script>
</head>
<body ng-app="myApp">
	<a href="accueil.html" style="text-decoration: none; margin: 10px; font-family: Open Sans; color: black; ">Retour</a>
<div class="table-wrapper" ng-controller="myCtrl">
    
        <table class="fl-table">
            <thead>
            <tr>
                <th>id</th>
                <th>type</th>
                <th>status</th>
                <th>date</th>
                <th>choix du region</th>
                <th>Options</th>
            </tr>
            </thead>
            <tbody>
                
            <tr ng-repeat="item in listNewSignalement">
                td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
                <td>{{item[2]}}</td>
                <td>{{item[3]}}</td>
                <td>

               
                <td><button ng-click="versAffectation(item[0])">Affecter</button></td>
                <td><button">Supprimer</button></td>
            </tr>
            <tbody>
        </table>

</div>



</body>
</html>