* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
html, body
{
    height: 100%;
}


body {
  width: 100%;
  height: 100vh;
margin: 0;
  
    overflow: hidden;
  
  display:grid;
  place-items:center;
}
img {
  width: 30%;
  height: 100%;
  object-fit:cover;
  
  -webkit-box-reflect:below 2px linear-gradient(transparent, transparent, #0004);
  
  transform-origin:center;
  transform:perspective(800px) rotateY(25deg);
  transition:0.5s;
}
.box{
  width: 100%;
  height: 100vh;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
       "container pic-container pic-container"
    "container pic-container pic-container"
    "container description description"; 

}
.pic-container { grid-area: pic-container; }
.description { grid-area: description; }
.container { grid-area: container; }
.options { grid-area: options; }

.pic-container {

  margin: 10%;
}
.pic-container :hover img {
  opacity:0.3;
}
.pic-container  img:hover {
  transform:perspective(800px)       rotateY(0deg);
  opacity:1;
}

.options{

}
.description{
  background: whitesmoke;
  border-radius: 10px;
  padding: 50px;
    box-sizing: border-box;
    box-shadow: 0 2px -10px 1px rgba(0,0,0,0.8);
}

/**************SOCIAL MEDIA*****************/
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
 
    display: flex;
    overflow: auto;

    justify-content: center;
    align-items: center;   
    font-family: sans-serif;
   
}

.container {
 
 
    padding: 20%;

    justify-content: space-between;
}

.container .card {
    border-radius: 10px;
}

.container .card .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: 0.7s;
    z-index: 1;
}

.container .card:nth-child(1) .icon {
    background: #e07768;
}

.container .card:nth-child(2) .icon {
    background: #6eadd4;
}

.container .card:nth-child(3) .icon {
    background: #4aada9;
}


.container .card .icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #fff;
}

i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #fff;
}

.container .card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container .card .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card:hover .face.face1{
    background: #ff0057;
    transform: translateY(0px);
}

.container .card .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
}

.container .card:hover .face.face1 .content {
    opacity: 1;
}

.container .card .face.face1 .content i{
    max-width: 100px;
}

.container .card .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    transform: translateY(-100px);
}

.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .content p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #414141;
}

.container .card .face.face2 .content h3 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #fff;
    font-size: 24px;
    text-align: center;
    color: #414141;
} 

.container a {
    text-decoration: none;
    color: #414141;
}